rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Make all files in 'products/' and 'models/' folders publicly readable
    match /products/{allPaths=**} {
      allow read;
    }
    match /models/{allPaths=**} {
      allow read;
    }
    
    // For all other paths, writing is only allowed for authenticated users
    match /{allPaths=**} {
        allow write: if request.auth != null;
    }
  }
}
